# ----------------------------------
# Phython
# ----------------------------------

__pycache__/
*.py[cod]
*$py.class

eggs/
.eggs/
lib/
lib64/

venv/
env/
.env/
.venv/

build/
dist/

# ---------------------------------
# Enviroment variables
# ---------------------------------
.env
.env.*

# ---------------------------------
# IBKR
# ---------------------------------
ibkr_api/


